ul.menu, div.top-bar {
  background-color: #FE0000;
}
body {
  background-color: #F0F0F0;
}

a, li.menu-text {
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: bold;
  font-size: 22px;
}
a:hover {
  color: black;
}

.callout {
  opacity: 0.9;
  margin-top: 40px;
}
.profile-photo-edit {
  width: 210px;
  height: 210px;
  padding-top: 3px;
  padding-bottom: 7px;
}
.profile-photo {
  width: 45px;
  height: 45px;
}

img.index-image {
  border-radius: 10px;
  padding: 4px;
}

span.login a, span.links a {
  color: red;
}
span.login a:hover, span.links a:hover {
  color: black;
}
