ul.menu, div.top-bar {
  background-color: #FE0000;
}
body {
  background-color: #F0F0F0;
}

a, li.menu-text {
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: bold;
  font-size: 22px;
}
a:hover {
  color: black;
}

.callout {
  opacity: 0.9;
  margin-top: 40px;
}
.profile-photo-edit {
  width: 210px;
  height: 210px;
  padding-top: 3px;
  padding-bottom: 7px;
}
.profile-photo {
  width: 45px;
  height: 45px;
}

img.index-image {
  border-radius: 10px;
  padding: 4px;
  width: 280px;
  height: 280px;
}

img.show-image {
  display: block;
  margin: auto;
  border-radius: 10px;
  /*padding-bottom: 15px;*/
}
img.show-image-pics {
  width: 230px;
  height: 230px;
  display: block;
  border-radius: 10px;
  margin: auto;
}

span.login a, span.links a {
  color: red;
}
span.login a:hover, span.links a:hover {
  color: black;
}

div.columns.small-12 h1, h5 {
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
}

/*image overlay*/

img.index-image:hover  {
    display: block;
    opacity: 0.1;
    text-align: center;
}

div.text {
  position: relative;
  top: 50%;
  bottom: 40px;
  text-align: center;
  width: auto;
  color: rgba(0, 0, 0, 0);
}

img.index-image:hover + div.text {
  color: black;
}

.header {
  padding-top: 15px;
}

input#search {
  width: 300px;
  border-radius: 5px;
}
form#search-form {
  background-color: #FE0000;
}

.submitButton {
  background-color: red;
  font-weight: bold;
}

.submitButton:hover {
  color: black;
  background-color: #FE0000;
}

.picLink {
  color: black;
  text-align: center;
  display: block;
  padding-bottom: 6px;
}

img.show-image {
  border-radius: 10px;
}

.backbtn {
  color: black;
}
